<launch>
  <node name = "Source"       pkg = "backbone" type = "Source"       output = "screen"/>
  <node name = "Multiplexer"  pkg = "backbone" type = "Multiplexer"  output = "screen"/>
  <node name = "FirstClient"  pkg = "backbone" type = "FirstClient"  output = "screen"/>
  <node name = "SecondClient" pkg = "backbone" type = "SecondClient" output = "screen"/>
</launch>