<launch>
  <node name = "Source"       pkg = "backbone" type = "source.py" />
  <node name = "Multiplexer"  pkg = "backbone" type = "server.py" />
  <node name = "FirstClient"  pkg = "backbone" type = "client.py" output="screen"/>
  <node name = "Debugger"     pkg = "backbone" type = "debugger.py" output="screen"/>


</launch>